* {
  box-sizing: border-box;
}

div {
  display: flex;
  flex-direction: column;
}
img {
  vertical-align: middle;
}

// taro-button-core + taro-button-core {
//   margin: 0 !important;
// }

// taro-button-core.reset {
//   display: inline-block;
//   margin: 0;
//   padding: 0;
//   line-height: 1.15;
//   font-size: 100%;
//   vertical-align: middle;
//   color: currentColor;
//   background: transparent;
//   appearance: none;

//   &::after {
//     border: 0;
//   }

//   &[disabled] {
//     opacity: 0.3;
//   }
// }
